@import "../node_modules/ui-styles/variables";

:host {
  display: block;
  position: relative;
  box-sizing: border-box;
  em {
    font-weight: bold;
  }
  .tree-branch {
    border: 1px solid @grey;
    display: inline-block;
    border-radius: 2px;
    background-color: transparent;
    position: relative;
    padding-right:6px;
    margin: 2px;
    icon {
        vertical-align: middle;
        &[plus]{
            font-size: .8em;
        }
        &[angle-down]{
            z-index:-1;
            margin-right: -20px;
            margin-left: 2px;
        }
    }
    select {
        background: transparent;
        padding: 5px 5px 5px 15px;
        border:none;
        border-radius: 2px;
        -webkit-appearance: none;

    }    
  }
}

:host::shadow ui-typeahead[selected]::shadow #results {
    top: 100%;
    background-color: white;
    overflow-y: scroll;
    max-height: 600px !important;
}

:host::shadow ui-typeahead::shadow #results {
    overflow-y: scroll;
    max-height: 600px !important;
}

:host::shadow ui-typeahead::shadow #input.close {
	.transform(none)
}

:host::shadow ui-typeahead::shadow ui-input::shadow #field #value-input {
	border-bottom: none;
}

:host::shadow ui-typeahead ui-typeahead-section {

    display:block;
    padding:5px;

    &.no-matches[focused], &.no-matches {
        font-weight:bold;
        color:#E03C2B;
        background-color: @hairline-grey;
        cursor:default;
    }
    &[focused]{
        color:white;
        background-color: #E03C2B;
    }
}

/* override */
:host::shadow ui-typeahead ui-typeahead-item::shadow #display {
    display: inline-block;
}

.odd {
    background-color: @off-white;
}